// 최상단 GNB 레이아웃
body {
  letter-spacing: -0.02em;
  // font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Nanum Gothic', sans-serif;

}

header * {
  z-index: 1;
}

span {
  line-height: 1.6;
}

body.on {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left : 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.7);
}

.top-head {
  background: $topGnbColor;
  height: 44px;
}

.layout1 {
  position: relative;
  max-height: 44px;
  & > p {
    float: left;
    margin: 0;
    & > a {
      line-height: 42px;
      padding-left: 24px;
      color: #fff;
      font-size: 15px;
    }
  }
  .top-ul {
    float: right;
    height: 40px;
    margin: 4px 0 0;
    & > li {
      float: left;
      width: auto;
      padding: 0 12px;
      position: relative;
      text-align: center;
      &:first-child:before {
        display: none;
      }
      &:before {
        content: '';
        position: absolute;
        top: 15px;
        left: 0;
        width: 1px;
        height: 10px;
        background: rgba(255,255,255,0.3);
      }
      & > a {
        line-height: 40px;
        color: #fff;
        font-size: 14px;
        width: 100%;
        display: block;
        font-weight: 800;
      }
    }
  }
}

.top-gnb {
  display: block;
  position: relative;
  z-index: 1020;
  width: 100%;
  height: 92px;
  text-align: center;
  background: #fff;
  clear: both;
}

.logo-gnb {
  #logo {
  position: relative;
  z-index: 11;
  float: left;
  margin: 16px;
  .logo {
    transform: translateY( -30px );
  }
  }
  .utile-wrap {
    height: 92px;
    float: right;
  }
}

#gnb-layout {
  background: white;
  display: block !important;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 92px;
  border-top: 1px solid #eee;
  z-index: 10;
  &.open {
    // min-height: 700px;
    transition: .5s;
    // box-shadow : rgba(0,0,0,0.6) 0 0 0 9999px;
  }
  #gnb {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 92px;
    z-index: 2;
    .gnb-wrap {
      position: relative;
      height: 100%;
      padding: 0 60px 0 100px;
      .depth1-ul {
        display: block;
        float: none;
        height: 100%;
        // padding: 0 90px;
        text-align: center;
        & > li {
          display: inline-block;
          float: left;
          width: 16.66%;
          height: 100%;
          margin: 0;
          vertical-align: top;
          &:hover > a > span {
            color: $gnbHoverColor;
            transition: .2s;
          }
          & > a {
            position: relative;
            display: block;
            height: 100%;
            text-align: center;
            &:after {
              display: block;
              position: absolute;
              left: 50%;
              bottom: 0;
              content: '';
              width: 0;
              height: 4px;
              background: $gnbHoverColor;
              transition: .3s;
            }
            &.current:after {
              left: 0;
              width: 100%;
            }
            &.current + .item {
              opacity: 1;
              display: block;
            }
            &.current span:before {
              opacity: 1;
            }
            & > span {
              display: inline-block;
              height: 100%;
              line-height: 92px;
              font-size: 18px;
              font-weight: 700;
              color: #282828;
              vertical-align: middle;
              &:before {
                display: block;
                opacity: 0;
                position: absolute;
                left: 50%;
                bottom: 9px;
                content: '';                
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 6px solid $gnbHoverColor;
                transition: .3s;
              }
            }
          }
          .item {
            display: none;
            position: absolute;
            top: 92px;
            left: 0;
            z-index: 100;
            width: 100%;
            min-height: 400px;
            margin: 0;
            padding-left: 270px;
            text-align: left;
            &.second {
              padding-left: 0;
            }
            .gnb-title {
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 270px;
              background: url("../img/gnb_obj.png") no-repeat left 90%;
              & > strong {
                display: inline-block;
                position: relative;
                z-index: 1;
                margin: 45px 0 40px;
                font-size: 23px;
                color: #282828;
                font-weight: 700;
                line-height: 1.3;
              }
              & > p {
                display: inline-block;
                position: relative;
                z-index: 1;
                width: 100%;
                padding: 0;
                margin: 0;
                font-size: 14px;
                color: #767676;
                line-height: 1.4;
              }
            }
            .depth2-ul {
              float: left;
              position: relative;
              top: 0;
              height: 100% !important;
              min-height: 243px;
              width: 100%;
              text-align: left;
              &.depth2-2 {
                padding: 43px 0 0;
                text-align: center;
                li {
                  display: inline-block;
                  float: none;
                  width: 150px;
                  position: static;
                  border-right: 1px solid #e9e9e9;
                  text-align: center;
                  // 상단 GNB li 아이콘메뉴 영역 포문처리
                  @for $i from 0 to 9{
                    &:nth-child(#{$i}) > a:before { background-position: ($i*-84px) 0};
                    &:nth-child(#{$i}):hover > a:before { background-position: ($i*-84px) -84px};
                  }
                  .a2 {
                    &:before {
                      background: url("../img/gnb_ico_ir.png");
                    }
                  }
                  a {
                    display: block;
                    position: relative;
                    left: auto;
                    top: auto;
                    width: 100%;
                    padding: 0;
                    border-bottom: none;
                    background: transparent;
                    &:hover span {
                      color: $gnbHoverColor;
                      transition: .2s;
                    }
                    &:before {
                      display: block;
                      opacity: 1;
                      position: static;
                      width: 84px;
                      height: 84px;
                      margin: 0 auto 15px;
                      border: 1px solid #e9e9e9;
                      border-radius: 50%;
                      background: url("../img/gnb_ico_ir2.png");
                      top: 50%;
                      right: -8px;
                      content: '';
                    }
                  }
                }
              }
              li.n1_1 {
                display: block;
                float: left;
                position: relative;
                width: 100%;
                padding: 0;
                text-align: left;
                min-height: 50px;
                & > a {
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 210px;
                  height: 100%;
                  min-height: 56px;
                  padding: 15px 20px;
                  border-bottom: 1px solid #5d6779;
                  background: #414c62;
                  vertical-align: top;
                  &:hover {
                    background: $gnbHoverColor;
                    transition: .2s;
                  }
                  & > span {
                    display: inline-block;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;
                    vertical-align: top;
                  }
                }
                .depth3-ul {
                  float: right;
                  width: calc( 100% - 210px );
                  min-height: 56px;
                  padding: 10px 0 10px 10px;
                  border-bottom: 1px dashed #c4c6c8;
                  & > li {
                    display: inline-block;
                    position: relative;
                    margin: 3px 13px 3px 0;
                    &:hover a span {
                      color: $gnbHoverColor;
                      text-decoration: underline;
                      transition: .2s;
                    }
                    & > a {
                      display: block;
                      position: relative;
                      width: 100%;
                      padding-left: 10px;
                      & > span {
                        display: inline-block;
                        font-size: 15px;
                        color: #7b7b7b;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@keyframes dropdown {
  from {
    top: -15px;
  }
  to {
    top: 0;
  }
}
