#body-layout {
  width: 100%;
  display: block;

  .main-wrap {
    overflow: hidden;
    background: url("../img/bg_now.png") no-repeat center bottom;
    background-size: 100% auto;
    width: 100%;
    // font-size: 0;
    .common-info-box {
      position: relative;
      padding: 25px 0;
      margin-bottom: 45px;
      background: #eff3f6;

      .layout-relative {
        .weather-box {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          z-index: 10;

          .title-box {
            display: inline-block;
            vertical-align: middle;
            width: 120px;
            height: 120px;
            padding: 20px 0;
            margin-right: 20px;
            border: 1px solid #e0e0e0;
            background: #fff;
            text-align: center;

            .title {
              display: block;
              margin: 0 auto 10px;
              width: 93px;
              height: 57px;

              a {
                font-size: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: url("../img/taegeukgi.png");
              }
            }

            .date {
              display: inline-block;
              vertical-align: middle;
              font-size: 13px;
              color: #828282;
              font-weight: 600;
            }
          }

          .data-box {
            display: inline-block;
            vertical-align: middle;

            .dust-box {
              strong {
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
                font-size: 14px;
                color: #282828;
              }

              .dust {
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
                font-size: 14px;
                color: #282828;
                font-weight: 600;
              }

              .status.em1 {
                color: #0d75b4;
                font-size: 14px;
                font-weight: 600;
              }
            }
          }
        }

        .population-box {
          float: right;
          display: inline-block;
          vertical-align: middle;
          padding: 20px;
          position: relative;
          z-index: 10;

          .title-box {
            display: inline-block;
            vertical-align: middle;
            padding: 5px 0 0 36px;
            background: url("../img/ico_population.svg") left center no-repeat;

            a {
              display: block;
            }

            strong {
              font-size: 17px;
              font-weight: 600;
              color: #282828;
              line-height: 1.2;
            }

            span {
              font-size: 14px;
              color: #777;
            }
          }

          .data-list {
            display: inline-block;
            vertical-align: middle;

            li {
              display: inline-block;
              vertical-align: middle;
              margin-left: 20px;
              text-align: center;

              &:before {
                content: '';
                display: block;
                height: 40px;
              }

              &:first-child:before {
                background: url("../img/ico_junggu.png") center no-repeat;
              }

              &:last-child:before {
                background: url("../img/ico_daejeon.png") center no-repeat;
              }

              a {
                display: block;

                strong {
                  b {
                    display: block;
                    font-weight: 600;
                    line-height: 1;
                  }
                }
              }
            }
          }
        }

        .search-box {
          position: absolute;
          left: 0;
          top: 50%;
          z-index: 9;
          width: 100%;
          padding: 0 400px;
          transform: translate(-6% , -50%);
          .align-box {
            position: relative;
            input {
              width: calc(100% - 44px);
              height: 59px;
              padding: 0 45px 0 25px;
              border: 1px solid #e8e8e8;
              border-radius: 29.5px;
              background: #fff;
              font-size: 16px;
            }
            .btn-submit {
              position: absolute;
              right: 0;
              top: 0;
              width: 59px;
              height: 59px;
              border-radius: 100%;
              background: $gnbHoverColor url("../img/ico_search.svg") center no-repeat;
              text-indent: -9999px;
            }
            fieldset {
              margin: 0;
              padding: 0;
              legend {
                overflow: hidden;
                position: relative;
                width: 0;
                height: 0;
                margin: 0;
                padding: 0;
                line-height: 0;
                .skip {
                  top: 0;
                  position: absolute;
                  height: 0;
                  font-size: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

#keyword {
  display: block;
  position: relative;
  overflow: hidden;
  min-width: 320px;
  padding: 0 75px 0 85px;
  margin-top: 10px;
  text-align: center;
  em {
    position: absolute;
    left: 18px;
    color: $gnbHoverColor;
    font-weight: bold;
    font-size: 15px;
    background: #eff3f6;
    z-index: 10;
  }
  .input-under-swiper {
    overflow: hidden;
    position: relative;
    height: 24px;
    width: 100%;
    .swiper-wrapper {
      width: 100%;
      .slide-inner-box {
        padding: 0 2px;
        position: relative;
        a {
          font-size: 15px;
          &:hover {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
  .swiper-button-wrap1 {
    position: absolute;
    right: 23px;
    top: 2px;
  }
}
