// 변수 처리

// site width
$siteWidth: 1320px;

// text size
$fontSizeTiny: 12px;
$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;
$fontSizeMoreBig: 30px;

// title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;


// 색상정의
// background color
// $layoutBg: #fff3c4;
$layoutBg: white;
$tableBg: #b8944d;
$grayBg: rgba(119, 119, 119, 0.8);

//font color
// $fontColorBasic: #666666;
$fontColorBasic: rgba(119, 119, 119, 1);
// $fontColorPrimary: #b8944d;
$fontColorPrimary: rgba(119, 119, 119, 1);
$fontColorHover: #e3a936;
$subPageOrangeColor: #ffcc00;

//border color
$borderColorPrimary: #b8944d;
$borderColor1: #997939;

//button color
$gbtnColor: #b8944d;
// $gbtnColor: white;
$btnColorHover: #e3a936;
