@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html, body {
  height: 100%;
}

html, body, p, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  word-wrap: break-word;
  word-break: keep-all;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.layout {
  max-width: 1240px;
  margin: 0 auto;
}

.container-fluid {
  background: green;
}

.row {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.row.justify-content-start {
  justify-content: flex-start;
}

.row.justify-content-end {
  justify-content: flex-end;
}

.row.justify-content-center {
  justify-content: center;
}

.row.justify-content-between {
  justify-content: space-between;
}

.row.justify-content-around {
  justify-content: space-around;
}

.row [class*=col] {
  box-sizing: border-box;
  border: 1px solid gray;
}

.row .col-1 {
  width: 6.5%;
}

.row .col-2 {
  width: 15%;
}

.row .col-3 {
  width: 23.5%;
}

.row .col-4 {
  width: 32%;
}

.row .col-5 {
  width: 40.5%;
}

.row .col-6 {
  width: 49%;
}

.row .col-7 {
  width: 57.5%;
}

.row .col-8 {
  width: 66%;
}

.row .col-9 {
  width: 74.5%;
}

.row .col-10 {
  width: 83%;
}

.row .col-11 {
  width: 91.5%;
}

.row .col-12 {
  width: 100%;
}

body {
  letter-spacing: -0.02em;
  font-family: 'Nanum Gothic', sans-serif;
}

header * {
  z-index: 1;
}

body.on {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.top-head {
  background: #505961;
  height: 44px;
}

.layout1 {
  position: relative;
  max-height: 44px;
}

.layout1 > p {
  float: left;
  margin: 0;
}

.layout1 > p > a {
  line-height: 42px;
  padding-left: 24px;
  color: #fff;
  font-size: 15px;
}

.layout1 .top-ul {
  float: right;
  height: 40px;
  margin: 4px 0 0;
}

.layout1 .top-ul > li {
  float: left;
  width: auto;
  padding: 0 12px;
  position: relative;
  text-align: center;
}

.layout1 .top-ul > li:first-child:before {
  display: none;
}

.layout1 .top-ul > li:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 1px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
}

.layout1 .top-ul > li > a {
  line-height: 40px;
  color: #fff;
  font-size: 14px;
  width: 100%;
  display: block;
  font-weight: 800;
}

.top-gnb {
  display: block;
  position: relative;
  z-index: 1020;
  width: 100%;
  height: 92px;
  text-align: center;
  background: #fff;
  clear: both;
}

.logo-gnb #logo {
  position: relative;
  z-index: 11;
  float: left;
  margin: 16px;
}

.logo-gnb #logo .logo {
  transform: translateY(-30px);
}

.logo-gnb .utile-wrap {
  height: 92px;
  float: right;
}

#gnb-layout {
  background: white;
  display: block !important;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 92px;
  border-top: 1px solid #eee;
  z-index: 10;
}

#gnb-layout.open {
  transition: .5s;
}

#gnb-layout #gnb {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 92px;
  z-index: 2;
}

#gnb-layout #gnb .gnb-wrap {
  position: relative;
  height: 100%;
  padding: 0 60px 0 100px;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul {
  display: block;
  float: none;
  height: 100%;
  padding: 0 90px;
  text-align: center;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li {
  display: inline-block;
  float: left;
  width: 16.66%;
  height: 100%;
  margin: 0;
  vertical-align: top;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li > a {
  position: relative;
  display: block;
  height: 100%;
  text-align: center;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li > a.current + .item {
  opacity: 1;
  display: block;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li > a > span {
  display: inline-block;
  height: 100%;
  line-height: 92px;
  font-size: 18px;
  font-weight: 700;
  color: #282828;
  vertical-align: middle;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item {
  display: none;
  position: absolute;
  top: 92px;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 400px;
  margin: 0;
  padding-left: 270px;
  text-align: left;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .gnb-title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: url("../img/gnb_obj.png") no-repeat left 90%;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .gnb-title > strong {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 45px 0 40px;
  font-size: 23px;
  color: #282828;
  font-weight: 700;
  line-height: 1.3;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .gnb-title > p {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #767676;
  line-height: 1.4;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .depth2-ul {
  float: left;
  position: relative;
  top: 0;
  height: 100% !important;
  min-height: 243px;
  width: 100%;
  text-align: left;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .depth2-ul li.n1_1 {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding: 0;
  text-align: left;
  min-height: 50px;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .depth2-ul li.n1_1 > a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 210px;
  height: 100%;
  min-height: 56px;
  padding: 15px 20px;
  border-bottom: 1px solid #5d6779;
  background: #414c62;
  vertical-align: top;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .depth2-ul li.n1_1 > a > span {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  vertical-align: top;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .depth2-ul li.n1_1 .depth3-ul {
  float: right;
  width: calc( 100% - 210px);
  min-height: 56px;
  padding: 10px 0 10px 25px;
  border-bottom: 1px dashed #c4c6c8;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .depth2-ul li.n1_1 .depth3-ul > li {
  display: inline-block;
  position: relative;
  margin: 3px 13px 3px 0;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .depth2-ul li.n1_1 .depth3-ul > li > a {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 10px;
}

#gnb-layout #gnb .gnb-wrap .depth1-ul > li .item .depth2-ul li.n1_1 .depth3-ul > li > a > span {
  display: inline-block;
  font-size: 15px;
  color: #7b7b7b;
}

@keyframes dropdown {
  from {
    top: -15px;
  }
  to {
    top: 0;
  }
}
