/* swiper button custom area */
.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-prev {
  height: 20px;
  width: 20px;
  background: red;
}

.swiper-button-next {
  height: 20px;
  width: 20px;
  background: blue;
}
